<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.vueback1.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.example.vueback1.entity.User">
        <id column="id" property="id" />
        <result column="no" property="no" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="phone" property="phone" />
        <result column="role_id" property="roleId" />
        <result column="isvalid" property="isvalid" />
        <result column="password" property="password" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, no, name, age, phone, role_id, isvalid, password
    </sql>

    <select id="pageC" resultType="org.example.vueback1.entity.User">
        select * from user_view
        <where>
            role_id = 1
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
        </where>
    </select>



</mapper>
